<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <h1>Edit Listing</h1>
    <!--Upon Submitting the form, make a request with the post method to url /new-listing-->
    <form method="post" action="/edit_listing" enctype="multipart/form-data" id="newListingForm">
        <input type="hidden" name="accountID" value="<%= accountID %>">
        <input type="hidden" name="listingID" value="<%= listingID %>">
        <label>Title</label>
        <br>
        <input type="text" name="listingTitle" value="<%= prevTitle %>" required>
        <br>
        <label>Description</label>
        <br>
        <textarea name="listingDescription" rows="4" cols="50" form="newListingForm" required><%= prevDesc %></textarea> 
        <br>
        <label>Location</label>
        <br>
        <input type="text" name="listingLocation" value="<%= prevLocation %>" required>
        <br>
        <label>Catergory</label>
        <br>
        <input type="text" name="listingCategory" value="<%= prevCategory %>" required>
        <br>
        <label>Delete Images</label>
        <br>
        <%for (var image in imageFiles){%>
            <input type="checkbox" name="delete[]" value="<%= prevImages[image] %>">
            <img src="/temp/<%= imageFiles[image] %>" alt="" height="100">
            <br>
        <%}%>
        <label>Add More Images</label>
        <br>
        <input type="file" name="listingImages" accept="image/*" multiple>
        <br>
        <label>Delete Listing</label>
        <input type="checkbox" name="listingDelete">
        <br>
        <input type="submit" value="Submit">
    </form>
    <footer class="footer">
            <% include ../partials/footer %>
    </footer>
</body>

</html>