<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>

    <h1><%= title %></h1>
    <p>
        <em> <%= serviceid %></em>
        <dl>
            <dt>Location</dt>
            <dd>
                <%= location %>
            </dd>
            <dt>Author</dt>
            <dd>
                <%= author %>
            </dd>
            <dt>Category</dt>
            <dd>
                <%= category %>
            </dd>
        </dl>
    </p>
    <h2>Description</h2>
    <p>
        <%= description %>
    </p>
    <h2>Images</h2>

    <%for (var image in imageFiles){%>
        <img src="/temp/<%= imageFiles[image] %>" alt="" height="100">
    <%}%>

    <%if (editable === true){%>
        <form method="GET" action="/listing/<%= serviceid %>/edit">
            <input type="submit" value="Edit" />
        </form>
    <%}%>

    <footer class="footer">
            <% include ../partials/footer %>
    </footer>
</body>
</html>