<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Listing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <script src="/js/main.js"></script>
</head>

<body>
    <h1><%= title %></h1>
    <p>
        <em> <%= serviceid %></em>
        <dl>
            <dt><strong>Location</strong></dt>
            <dd>
                <%= location %>
            </dd>
            <dt><strong>Author</strong></dt>
            <dd>
                <%= author %>
            </dd>
            <dt><strong>Category</strong></dt>
            <dd>
                <%= category %>
            </dd>
        </dl>
    </p>
    <h2>Description</h2>
    <p>
        <%= description %>
    </p>
    <h2>Images</h2>

    <%for (var image in imageFiles){%>
        <img src="/temp/<%= imageFiles[image] %>" alt="" height="100">
    <%}%>

    <%if (editable === true){%>
        <form method="GET" action="/listing/<%= serviceid %>/edit">
            <input type="submit" value="Edit" />
        </form>
    <%}%>
</body>
</html>