<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/main.css" />
    <script src="../public/js/main.js"></script>
</head>

<body>    
    <h1>Search Results</h1>
        <% if(listingResults.length > 0){ %>
            <table>
            <% for(var i = 0; i < listingResults.length; i++) { %>
                <%if (i == 0) { %>
                    <tr>
                        <td>
                            <label><strong>Name</strong></label>
                        </td>
                        <td>
                            <label><strong>ID</strong></label>
                        </td>
                        <td>
                            <label><strong>Category</strong></label>
                        </td>
                        <td>
                            <label><strong>Location</strong></label>
                        </td>
                        <td>
                            <label><strong>Description</strong></label>
                        </td>
                        <td>
                            <label><strong>Service Photos</strong></label>
                        </td>
                    </tr>
                <% } %>
            <tr>
                <td>
                    <%= listingResults[i].singleListing.name %>
                </td>
                <td>
                    <%= listingResults[i].singleListing.serviceid %>
                </td>
                <td>
                    <%= listingResults[i].singleListing.category %>
                </td>
                <td>
                    <%= listingResults[i].singleListing.location %>
                </td>
                <td>
                    <%= listingResults[i].singleListing.description %>
                </td>
                <td>
                    <%for (var image in listingResults[i].singleListing.imageFiles){%>
                    <img src="/temp/<%= listingResults[i].singleListing.imageFiles[image] %>" alt="" height="100">
                    <%}%>
                </td>
                <td>
                    <form method="get" action="/profile/<%= listingResults[i].singleListing.profileid %>" enctype="multipart/form-data" id="selectProfile">
                            <input type="submit" value="Go to Profile">
                    </form>                    
                </td>
                <td>
                    <form method="get" action="/new_quote" enctype="multipart/form-data" id="newQuote">
                            <input type="submit" value="Request a Quote">
                    </form>                    
                </td>
            </tr>
            <% } %>
            </table>
          <% } else{ %>  
            <h1>Unable to find anything with that criteria, Please try again!</h1>
        <% } %>

    <form method="get" action="/search" enctype="multipart/form-data" id="backToSearch">
        <input type="submit" value="Back to search">
    </form>

</body>

</html>