<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>

    <div class="container mt-4">
        <h1>Edit Profile</h1>
        <!--Upon Submitting the form, make a request with the post method to url /new_profile-->
        <form method="post" action="/edit_profile" enctype="multipart/form-data" id="editProfileForm">
            <!-- Hidden fields -->
            <input type="hidden" name="accountID" value="<%= accountID %>">
            <input type="hidden" name="photoID" value="<%= prevPhoto %>">

            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="editProfileFormName">Name</label>
                    <input class="form-control" type="text" name="accountName" value="<%= prevName %>" id="editProfileFormName"
                        required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="editProfileFormPhone">Phone</label>
                    <input class="form-control" type="text" name="profilePhone" value="<%= prevPhone %>" id="editProfileFormPhone" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="editProfileFormStreet">Street</label>
                    <input class="form-control" type="text" name="profileStreet" value="<%= prevStreet %>" id="editProfileFormStreet"
                        required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="editProfileFormSuburb">Suburb</label>
                    <input class="form-control" type="text" name="profileSuburb" value="<%= prevSuburb %>" id="editProfileFormSuburb"
                        required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="editProfileFormCity">City</label>
                    <input class="form-control" type="text" name="profileCity" value="<%= prevCity %>" id="editProfileFormCity" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-1">
                    <label for="editProfileFormPostCode">Postcode</label>
                    <input class="form-control" type="text" name="profilePostcode" value="<%= prevPostcode %>" id="editProfileFormPostCode"
                        required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-8">
                    <label for="editProfileFormDesc">Description</label>
                    <textarea class="form-control" name="profileDescription" rows="4" form="editProfileForm" id="editProfileFormDesc"
                        required><%= prevDescription %></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="btn btn-outline-dark" for="editProfileFormImg">Upload Profile Image</label>
                <input class="form-control" class="form-control-file" type="file" name="profileImage" accept="image/*" id="editProfileFormImg">
            </div>

            <div class="form-group">
                <input type="checkbox" name="profileDelete" id="editProfileFormDel">
                <label for="editProfileFormDel">Delete Account?</label>
            </div>

            <input class="btn btn-dark" type="submit" value="Submit">
        </form>
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>