<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>

    <h1>Edit Profile</h1>
    <!--Upon Submitting the form, make a request with the post method to url /new_profile-->
    <form method="post" action="/edit_profile" enctype="multipart/form-data" id="editProfileForm">
        <input type="hidden" name="accountID" value="<%= accountID %>">
        <input type="hidden" name="photoID" value="<%= prevPhoto %>">
        <label>Name</label>
        <br>
        <input type="text" name="accountName" value="<%= prevName %>">
        <br>
        <label>Phone</label>
        <br>
        <input type="text" name="profilePhone" value="<%= prevPhone %>">
        <br>
        <label>Street</label>
        <br>
        <input type="text" name="profileStreet" value="<%= prevStreet %>">
        <br>
        <label>Suburb</label>
        <br>
        <input type="text" name="profileSuburb" value="<%= prevSuburb %>">
        <br>
        <label>City</label>
        <br>
        <input type="text" name="profileCity" value="<%= prevCity %>">
        <br>
        <label>Postcode</label>
        <br>
        <input type="text" name="profilePostcode" value="<%= prevPostcode %>">
        <br>
        <label>Description</label>
        <br>
        <textarea name="profileDescription" rows="4" cols="50" form="editProfileForm"><%= prevDescription %></textarea>
        <br>
        <label>Profile Image</label>
        <br>
        <input type="file" name="profileImage" accept="image/*">
        <br>
        <label>Delete Account?</label>
        <input type="checkbox" name="profileDelete">
        <br>
        <input type="submit" value="Submit">
    </form>

    <footer class="footer">
        <% include ../partials/footer %>
    </footer>
</body>

</html>