<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>

    <h1><%= name %></h1> 
    <img src="/temp/<%= image %>" alt="profile picture" width="100">
    <dl>
        <dt><strong>Date Joined</strong></dt>
        <dd>
            <%= joinDate %>
        </dd>
        <dt><strong>Phone</strong></dt>
        <dd>
            <%= phone %>
        </dd>
        <dt><strong>Address</strong></dt>
        <dd>
            <%= street %><br>
            <%= suburb %><br>
            <%= city %><br>
            <%= postcode %>
        </dd>
        <dt><strong>About</strong></dt>
        <dd>
            <%= description %>
        </dd>
    </dl>

    <%if (editable === true){%>
        <form method="GET" action="/profile/<%= id %>/edit">
            <input type="submit" value="Edit" />
        </form>
    <%}%>

    <h2>Listings</h2>
    <% if(listingResults.length > 0){ %>
        <table>
        <% for(var i = 0; i < listingResults.length; i++) { %>
            <%if (i == 0) { %>
                <tr>
                    <td>
                        <label>Name</label>
                    </td>
                    <td>
                        <label>ID</label>
                    </td>
                    <td>
                        <label>Category</label>
                    </td>
                    <td>
                        <label>Location</label>
                    </td>
                    <td>
                        <label>Description</label>
                    </td>
                    <td>
                        <label>Service Photos</label>
                    </td>
                </tr>
            <% } %>
        <tr>
            <td>
                <%= listingResults[i].singleListing.name %>
            </td>
            <td>
                <%= listingResults[i].singleListing.serviceid %>
            </td>
            <td>
                <%= listingResults[i].singleListing.category %>
            </td>
            <td>
                <%= listingResults[i].singleListing.location %>
            </td>
            <td>
                <%= listingResults[i].singleListing.description %>
            </td>
            <td>
                <%for (var image in listingResults[i].singleListing.imageFiles){%>
                <img src="/temp/<%= listingResults[i].singleListing.imageFiles[image] %>" alt="" height="100">
                <%}%>
            </td>
        </tr>
        <% } %>
        </table>
      <% } else{ %>  
        <em>No Services Listed!</em>
    <% } %>

    <footer class="footer">
        <% include ../partials/footer %>
    </footer>
</body>
</html>